<!DOCTYPE html>
<html>
<head>
	<title>Express Testing</title>
</head>
<body>

	<style type="text/css">
			
		html {
			padding-top: 15%;
			background-color: lightblue;
			color: #FFF;
			font-family: Arial;
		}

		h1 {
			text-transform: uppercase;
			text-align: center;
			font-size: 50px;
		}

		p {
			text-align: center;
		}

	</style>

	<h1>Title</h1>

	<p>This is the content of the page!!!</p>

</body>
</html>